@import "../../assets/custom";
$toolbar-height: 100rpx;
page {
  background-color: $bg-color;
}
.container {
  margin-bottom: $toolbar-height;
  .book {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .details {
      height: 300rpx;
      display: flex;
      flex-direction: row;
      .cover {
        height: 270rpx;
        width: 200rpx;
        margin-left: 20rpx;
        margin-right: 20rpx;
        box-shadow: 0 5rpx 5rpx 0 rgba(87, 129, 193, 0.16),
                      0 5rpx 10rpx 0 rgba(76, 129, 198, 0.13);
      }
      .info {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        .attr {
          font-size: 9pt;
          color: $minor-color;
          margin-bottom: 15rpx;
        }
        .title {
          font-size: 12pt;
          color: #000;
          font-weight: 500;
        }
        .tags {
          font-size: 8pt;
          margin-bottom: 10rpx;
          .tag {
            color: $minor-color;
            margin-right: 10rpx;
            border: solid 1px $minor-color;
            border-radius: 8rpx;
            padding-left: 5rpx;
            padding-right: 5rpx;
            &:before {
              content: '#';
            }
          }
        }
      }
    }
    .book-toolbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      view {
        flex: 1;
        text-align: center;
        border-radius: 8rpx;
        padding-bottom: 10rpx;
        padding-top: 10rpx;
        margin-left: 30rpx;
        margin-right: 30rpx;
        background-color: $bg-color;
        color: $minor-color;
        font-size: 9pt;
        font-weight: 400;
      }
    }
  }


  .content {
    background-color: #fff;
    box-sizing: border-box;
    padding-bottom: 10rpx;
    margin-bottom: 10rpx;
    padding-left: $box-width;
    padding-right: $box-width;
    .description {
      text-align: justify;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.toolbar{
  height: $toolbar-height;
  line-height: $toolbar-height;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #000;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  box-shadow: 0 -5rpx 5rpx 0 rgba(0, 0, 0, 0.01),
  0 -5rpx 10rpx 0 rgba(0, 0, 0, 0.01);
  .collect,.comment {
    flex: 1;
    font-size: 9pt;
    color: $minor-color;
  }
  .obtain {
    flex: 8;
  }
  .order {
    height: $toolbar-height - 40rpx;
    line-height: $toolbar-height - 40rpx;
    font-size: 9pt;
    margin-left: 40rpx;
    margin-right: 40rpx;
    background-color: $main-color;
    color: #fff;
    font-weight: 300;
    box-shadow: 0 5rpx 5rpx 0 rgba(87, 129, 193, 0.16),
    0 5rpx 10rpx 0 rgba(76, 129, 198, 0.13);
  }
}