@charset "UTF-8";
// 主色调
$main-color: #4C81C6;
$box-width: 20rpx;

// 说明
$instructions-color: rgba(75, 75, 75, 0.98);
// 辅助
$aid-color: #6E80A1;
// 次要
$minor-color: #8B8B8B;
// 线条
$line-color: #D9D9D9;
// 背景
$bg-color: #F6F6F6;


// 屏幕宽
$screen-width: 750rpx;