@charset "UTF-8";
.search-bar {
    width: 100%;
    box-sizing: border-box;
    background-color: #F3F4F0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A8A8A8;
    padding-bottom: 15rpx;
    padding-top: 15rpx;
    border-radius: 10rpx;
    .icon {
        margin-right: 10rpx;
    }
    .tips {
        font-size: 9pt;
        font-weight: 200;
    }
}